* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: black;
    margin: 20px 10px 10px 70px;
}

.searchBar {
    margin-top: 20px;
    border: 1px solid black;
    width: 30%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.searchBar input {
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.searchBar input::-webkit-search-cancel-button {
    display: none;
}

.searchBar i {
    color: gray;
    font-size: 23px;
    margin-right: 5px;
}

.searchBar:hover {
    cursor: pointer;
    transition: 0.3s ease;
    background-color: rgb(225, 225, 229);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.searchBar i:hover {
    transition: 0.3s ease;
    color: black;
}

.profileSpace {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 70px;
    width: 6%;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
}

.profileSpace i {
    color: gray;
    font-size: 25px;
    cursor: pointer; 
    transition: 0.3s;
}

.profileSpace:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.profileSpace i:hover {
    color: black;
}

.addBtn {
    display: flex;
    justify-content: center;
}

.studioBtn button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #b0c4de;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.studioBtn button:hover {
    background-color: #8aa3c0;
}

.studioBtn button:active {
    background-color: #6b849e;
}
.addBtn {
    display: flex;
    justify-content: center;
}

.studioBtn button {
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
    background-color: #b0c4de;
    color: black;
}

.studioBtn button:hover {
    background-color: #8aa3c0;
}
/*Profile area*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}


.popup.show {
    opacity: 1;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}
/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
/* Input Fields */
.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
/* Buttons */
.login-btn, .signup-btn {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    background-color: #b0c4de;
    color: black;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #8aa3c0;
}


/*Add studio area */

.studioContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.studioContainer.show {
    display: flex; /* Mostra a div */
    opacity: 1;
}

.studioArea {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
/* Input Fields */
.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.addStudio {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    background-color: #b0c4de;
    color: black;
}

.addStudio:hover {
    background-color: #8aa3c0;
}

#parking, #publicTransport, #rentalTerm {
    margin: 10px 0;
    text-align: center;
    text-indent: 10px; 
    height: 25px;
    width: 95%;
}

