################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/webProgrammingProject/FileContentIndex/4556ddd7-63b8-40cd-9999-573fd7eddcb3.vsidx
/.vs/webProgrammingProject/FileContentIndex/cbd4ebd7-82a8-42f2-9ef7-b31f459aa69d.vsidx
/.vs/slnx.sqlite
/.vs/webProgrammingProject/FileContentIndex
/.vs/webProgrammingProject/FileContentIndex/cbd4ebd7-82a8-42f2-9ef7-b31f459aa69d.vsidx
/.vs/slnx.sqlite
/.vs/webProgrammingProject/FileContentIndex/cbd4ebd7-82a8-42f2-9ef7-b31f459aa69d.vsidx
/.vs/webProgrammingProject/FileContentIndex/cbd4ebd7-82a8-42f2-9ef7-b31f459aa69d.vsidx
/.vs/webProgrammingProject/FileContentIndex/cbd4ebd7-82a8-42f2-9ef7-b31f459aa69d.vsidx
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/webProgrammingProject/FileContentIndex/cbd4ebd7-82a8-42f2-9ef7-b31f459aa69d.vsidx
